---
services:
  postgres:
    image: postgres:17
    container_name: pretalx-postgres
    environment:
      POSTGRES_PASSWORD: dWjaDHS6olOQ36bQeDDJCUcSXc6vx094Z9xk/YBRcCYiwFElo1Ts60NerpVhUJjZ42XM+kjaj1wdb5ux1
      POSTGRES_USER: pretalx
    volumes:
      - ./pgdata:/var/lib/postgresql/data
pretalx:
  container_name: pretalx
  depends_on:
    - redis
    - postgres
  environment:
    PRETALX_FILESYSTEM_MEDIA: /data/media
    PRETALX_FILESYSTEM_STATIC: /public/static
  image: pretalx/standalone:latest
  ports:
    - 0.0.0.0:8080:80
  restart: always
  volumes:
    - ./pretalx.cfg:/etc/pretalx/pretalx.cfg:ro
    - ./pretalx-data:/data
    - ./pretalx-public:/public
redis:
  container_name: pretalx-redis
  image: redis:latest
  restart: always
  volumes:
    - ./pretalx-redis:/data