#### Basesystem
Die Rolle User konfiguriert Zugriff auf das System. Es werden folgende Einrichtungen vorgenommen:
* User werden erstellt
* Default Shell und authorized SSH Key wird auf den Host kopiert